* {
    
    font-family: sans-serif;
    text-align: center;
    color: #e1e1e1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

html, body{
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}
.header {
    font-size: 3vw;
    background-color: purple;
    padding: 1vw;
}

.nav-btn {
    display: inline;
    text-align: center;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    cursor: pointer;
    border-width: 0.1vw;
}

.title {
    height: 100%;
    position: relative;
    margin: 0;
}

.problem {
    font-size: 6vw;
    color: #000000;
}

.spacer {
    padding: 3vw;
}

.options {
    padding: 2vw;
}

.btn {
    display: inline;
    padding: 2vw;
    font-size: 5vw;
    border: purple;
    background-color: lightskyblue;
    border-radius: 1.7vw;
    border-style: solid;
    margin-left: 3vw;
    margin-right: 3vw;
    cursor: pointer;
    color: #000000;
    border-width: 0.2vw;
}


.btn:hover {
    background-color: purple;
    color: #ffffff;
}


@keyframes fade-in {
    from {
        color: white;
        background-color: white;
    }
    to {
        color: #e1e1e1;
        background-color: #1e1e1e;
    }
}

.bottom{
    padding: 3vw;
    visibility: hidden;
}

.next-button {
    color: black;
    background-color: lightgreen;
    border: black;
    margin: 1.7px;
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 1.7vw;
    padding: 0.9vw;
    font-size: 2.3vw;
    cursor: pointer;
}

.next-button:hover{
    background-color: darkgreen;
    color: white;
}